header.header
  .container
    .inner-wrap
      button.inner-button-menu
        img(
          alt="" 
          src="assets/images/icon-menu.png"
          )
      a.inner-logo(href="#")
        img(
          alt="28.TRAVEL" 
          src="assets/images/logo.png"
          )
      nav.inner-menu
        ul
          li
            a.active(href="#") Trang Chủ
          li
            a(href="#") Tour Trong Nước
            i.fa-solid.fa-caret-down
            ul.inner-sub
              li
                a.active(href="#") Tour Miền Bắc
              li
                a(href="#") Tour Miền Trung
              li
                a(href="#") Tour Miền Nam
              li
                a(href="#") Tour Xuyên Việt
          li
            a(href="#") Tour Nước Ngoài
            i.fa-solid.fa-caret-down
            ul.inner-sub
              li
                a(href="#") Tour Châu Á
              li
                a(href="#") Tour Châu Âu
              li
                a(href="#") Tour Châu Mỹ
              li
                a(href="#") Tour Châu Úc
          li
            a(href="#") Tin Tức
          li
            a(href="#") Liên Hệ
        .overlay
      a.inner-cart(href="#")
        img(
          alt="" 
          src="assets/images/icon-cart.png"
          )
        span
          img(
            alt="" 
            src="assets/images/icon-arrow-left.png"
            )
          | 1