extends ../layouts/default.pug

block title
  title Chi tiết tour

block main
  // Breadcrumb
  .breadcrumb
    .inner-image
      img(
        alt="" 
        src="assets/images/banner-6.jpg"
        )
    .inner-content
      .container
        .inner-wrap
          h1.inner-title Tour Hà Nội - Ninh Bình - Hạ Long - Yên Tử - Sapa | 6N5D
          nav.inner-links
            a(href="#") Trang Chủ
            i.fa-solid.fa-angles-right
            a(href="#") Tour Trong Nước
            i.fa-solid.fa-angles-right
            a(href="#") Tour Miền Bắc
            i.fa-solid.fa-angles-right
            a(href="#") Tour Hà Nội - Ninh Bình - Hạ Long - Yên Tử - Sapa | 6N5D
  // End Breadcrumb
  
  // Section 10
  .section-10
    .container
      .inner-wrap
        .inner-left
          // Box Images
          .box-images
            .inner-image-main
              .inner-image
                img(
                  alt="" 
                  src="assets/images/banner-7.jpg"
                  )
            .inner-image-thumb
              .inner-image
                img(
                  alt="" 
                  src="assets/images/banner-8.jpg"
                  )
              .inner-image
                img(
                  alt="" 
                  src="assets/images/banner-9.jpg"
                  )
              .inner-image
                img(
                  alt="" 
                  src="assets/images/banner-10.jpg"
                  )
              .inner-image
                img(
                  alt="" 
                  src="assets/images/banner-11.jpg"
                  )
          // End Box Images
          // Box Tour Info
          .box-tour-info
            .inner-title-main Thông Tin Tour
            .inner-content
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit cumque, quae soluta repellendus in quia rem esse laboriosam culpa velit corrupti voluptas, sed tenetur possimus aperiam sint ex! Corporis, quisquam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi iure, quas laborum culpa numquam magni reiciendis laboriosam deserunt ut sequi corporis delectus quibusdam consequatur, perferendis veniam molestiae accusamus consequuntur dolorem.
              img(
                alt="" 
                src="assets/images/banner-13.jpg"
                )
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolorem possimus, quam quaerat sapiente doloribus unde perferendis corporis qui voluptates placeat, hic totam, quis alias. Aut, et nulla. Dolores, amet? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima beatae, ut eaque, est, impedit labore facere saepe veniam aperiam dignissimos cupiditate perspiciatis quas inventore rerum odio qui numquam. Sequi, atque.
              <img alt="" src="assets/images/banner-14.jpg">
            .inner-read-more
              button.button-outline Xem tất cả
          // End Box Tour Info
          // Box Tour Schedule
          .box-tour-schedule
            .inner-title-main Lịch Trình Tour
            .inner-list
              .inner-line
              .inner-item
                .inner-dot
                .inner-title NGÀY 1 | TP.HCM – THỦ ĐÔ HÀ NỘI
                .inner-content
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eius magni tempore, totam placeat dolore quisquam asperiores rem fuga provident. Unde, sequi. Nemo aperiam consequatur reiciendis recusandae repellat adipisci consequuntur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sit corporis necessitatibus delectus, est nam. Quam, sequi asperiores. Libero porro magni error commodi totam perspiciatis natus aliquid repudiandae deleniti labore?
                  img(
                    alt="" 
                    src="assets/images/banner-14.jpg"
                    )
                  p
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius alias ut, tempore, maiores molestiae nobis, facilis explicabo neque nam quam quibusdam voluptatibus sint ex nostrum? Corporis voluptatibus natus explicabo vero?
              .inner-item
                .inner-dot
                .inner-title NGÀY 1 | TP.HCM – THỦ ĐÔ HÀ NỘI
                .inner-content
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eius magni tempore, totam placeat dolore quisquam asperiores rem fuga provident. Unde, sequi. Nemo aperiam consequatur reiciendis recusandae repellat adipisci consequuntur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sit corporis necessitatibus delectus, est nam. Quam, sequi asperiores. Libero porro magni error commodi totam perspiciatis natus aliquid repudiandae deleniti labore?
                  img(
                    alt="" 
                    src="assets/images/banner-14.jpg"
                    )
                  p
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius alias ut, tempore, maiores molestiae nobis, facilis explicabo neque nam quam quibusdam voluptatibus sint ex nostrum? Corporis voluptatibus natus explicabo vero?
          // End Box Tour Schedule
        .inner-right
          // Box Tour Detail
          .box-tour-detail
            .inner-title-main Chuyến Đi Của Bạn
            .inner-product
              .inner-image
                img(
                  alt="" 
                  src="assets/images/banner-12.jpg"
                  )
              .inner-info
                .inner-title Hà Nội - Ninh Bình - Hạ Long - Yên Tử - Sapa | 6N5D
                .inner-rating
                  .inner-stars
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-regular.fa-star
                  .inner-number 500 lượt đánh giá
            .inner-meta
              .inner-item
                i.fa-solid.fa-ticket-simple
                span Mã Tour:
                span.inner-highlight 28T00001
              .inner-item
                i.fa-solid.fa-calendar-days
                span Thời Gian:
                span.inner-highlight 6 Ngày 5 Đêm
              .inner-item
                i.fa-solid.fa-car
                span Phương Tiện:
                span.inner-highlight Ô tô 45 chỗ
              .inner-item
                i.fa-solid.fa-calendar-days
                span Ngày Khởi Hành:
                span.inner-highlight 20/10/2024
            .inner-group
              .inner-label Khởi Hành Tại:
              select
                option(value="") Hà Nội
                option(value="") Đà Nẵng
                option(value="") Nha Trang
            .inner-group
              .inner-label Số Lượng Hành Khách
              .inner-list
                .inner-item
                  .inner-item-label Người lớn:
                  .inner-item-input
                    input(
                      value="1" 
                      type="number"
                      )
                  .inner-item-price
                    span 1
                    span x
                    span.inner-highlight 10.000.000
                .inner-item
                  .inner-item-label Trẻ em:
                  .inner-item-input
                    input(
                      value="0" 
                      type="number"
                      )
                  .inner-item-price
                    span 0
                    span x
                    span.inner-highlight 10.000.000
                .inner-item
                  .inner-item-label Em bé:
                  .inner-item-input
                    input(
                      value="0" 
                      type="number"
                      )
                  .inner-item-price
                    span 0
                    span x
                    span.inner-highlight 10.000.000
            .inner-total
              .inner-label Tổng cộng:
              .inner-price 10.000.000đ
            button.inner-button-add-cart Thêm Vào Giỏ Hàng
          // End Box Tour Detail
  // End Section 10